@media screen and (max-width: 1300px) {
  .main {
    max-width: 714px;
  }

  .main__pool-img {
    width: 714px;
    background: url("../../img/ipad-pro/pool.png") no-repeat;
  }

  .main__von-oben-img {
    width: 714px;
    background: url("../../img/ipad-pro/von-oben.png") no-repeat;
  }

  .main__pool-text-none {
    display: inline;
  }

  .block1, .block2, .block3, .block4 {
    width: 222px;
  }

  .block1 {
    padding: 24px 20px;
  }

  .block2 {
    padding: 24px 24px 17px;
  }

  .block3 {
    margin: 24px 0;
  }

  .block4 {
    padding: 23px;
    background-image: url("../../img/ipad-pro/aside4-blau.png"), url("../../img/ipad-pro/aside4-rot.png");
  }

  .block1-img {
    width: 181px;
    height: 145px;
  }

  .block2__list--hid {
    display: none;
  }

  .main__h3-text {
    margin-bottom: 24px;
  }

  .footer__basic {
    grid-template-columns: minmax(min-content, 247px) minmax(min-content, 447px) minmax(min-content, 221px);
  }
}
@media screen and (max-width: 1200px) {
  .header__container, .container, .footer__container {
    margin: 0 32px;
  }

  .main__stuhl-abend-item {
    width: 345px;
  }

  .main__stuhl-img {
    background: url("../../img/ipad-pro/stuhl.png");
  }

  .main__abend-img {
    background: url("../../img/ipad-pro/abend.png");
  }

  .troubles, .main__categoty-list {
    display: none;
  }

  .container__bg {
    display: none;
  }

  .footer {
    margin-top: 47px;
  }
}
@media screen and (max-width: 1020px) {
  .header__container, .container, .footer__container {
    margin: 0 20px;
  }

  .container {
    display: block;
  }

  .main {
    max-width: 100%;
  }

  .aside {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .block1, .block2, .block3, .block4 {
    width: 355px;
  }

  .block1, .block2 {
    height: 481px;
    margin: 23px 0 0;
  }

  .block1 {
    padding: 22px 23px 15px;
  }

  .block1-img {
    width: 257px;
    height: 206px;
  }

  .block2 {
    padding: 24px 52px 36px;
  }

  .block3, .block4 {
    height: 248px;
    margin: 30px 0 59px;
  }

  .block3 {
    background-image: url("../../img/ipad-mini/aside3-geschenk.png"), url("../../img/ipad-mini/aside3-fon.png");
  }

  .block4 {
    padding: 24px 22px 4px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-image: url("../../img/ipad-mini/aside4-blau.png"), url("../../img/ipad-mini/aside4-rot.png");
    background-position: 202px 100%, 173px 100%;
  }

  .main__pool-img {
    margin-bottom: 12px;
  }

  .main__menu {
    margin-bottom: 36px;
  }
}
@media screen and (max-width: 1000px) {
  .header__menu {
    display: none;
  }

  .header__btn {
    display: none;
  }

  .header__burger {
    display: block;
  }

  .main__frau-img {
    min-width: 294px;
    margin-right: 16px;
    background: url("../../img/ipad-mini/frau.png") no-repeat;
  }

  .main__haende-img {
    min-width: 294px;
    height: 182px;
    background: url("../../img/ipad-mini/haende.png") no-repeat;
    margin-right: 16px;
  }

  .main__stuhl-abend-item {
    width: 356px;
  }

  .main__stuhl-img {
    margin-bottom: 24px;
    background: url("../../img/ipad-mini/stuhl.png");
  }

  .main__abend-img {
    margin-bottom: 24px;
    background: url("../../img/ipad-mini/abend.png");
  }

  .block1, .block2 {
    margin: 0;
  }

  .block3, .block4 {
    margin: 30px 0 0;
  }

  .footer {
    padding-top: 35px;
    margin-top: 59px;
  }

  .footer__basic {
    grid-template-columns: 247px 447px;
    grid-template-rows: auto auto;
  }

  .footer__bottom {
    margin-top: 27px;
  }

  .footer__right {
    margin-top: 10px;
  }
}
@media screen and (max-width: 766px) {
  .main__pool-img {
    width: 374px;
    height: 207px;
    background: url("../../img/iphone-max/pool.png") no-repeat;
  }

  .main__von-oben-img {
    width: 374px;
    height: 207px;
    background: url("../../img/iphone-max/von-oben.png") no-repeat;
  }

  .aside {
    display: block;
  }

  .block1, .block2, .block3, .block4 {
    width: 100%;
    height: auto;
  }

  .block1 {
    padding: 24px 32px 44px;
    margin-top: 56px;
  }

  .block2 {
    padding: 24px 62px 36px;
    margin: 24px 0;
  }

  .block3 {
    margin: 0;
    padding-bottom: 192px;
    background-image: url("../../img/iphone-max/aside3-geschenk.png"), url("../../img/ipad-mini/aside3-fon.png");
  }

  .block4 {
    padding: 24px;
    margin: 24px 0 127px;
  }

  .main__frau-flex, .main__haende-flex, .main__stuhl-abend-flex {
    display: block;
  }

  .main__frau-img {
    width: 374px;
    height: 380px;
    background: url("../../img/iphone-max/frau.png") no-repeat;
    margin: 0 0 16px;
  }

  .main__haende-img {
    width: 374px;
    height: 207px;
    background: url("../../img/iphone-max/haende.png") no-repeat;
    margin: 0 0 16px;
  }

  .main__stuhl-abend-item {
    width: 374px;
  }

  .main__stuhl-img {
    background: url("../../img/iphone-max/stuhl.png");
    margin-bottom: 16px;
  }

  .main__abend-img {
    background: url("../../img/iphone-max/abend.png");
    margin: 24px 0 16px;
  }

  .footer__basic {
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
  }

  .footer__bottom {
    display: block;
    padding: 20px 0 17px;
  }

  .footer__bottom a {
    margin: 0 0 20px;
  }
}
@media screen and (max-width: 540px) {
  .main__nav--vis {
    display: none;
  }

  .main__nav--none {
    display: block;
  }

  .main__nav {
    padding: 16px 0 32px;
  }

  h1 {
    font-size: 32px;
    line-height: 40px;
  }

  .main__pool-img {
    margin-bottom: 24px;
  }

  .main__menu {
    margin-bottom: 24px;
  }

  .main__fleck-center {
    padding: 48px 0 24px;
  }

  .footer__center-form {
    width: auto;
  }

  .footer__center-h {
    margin-top: 7px;
  }

  .footer__right-bottom {
    margin-top: 20px;
  }

  .footer__bottom {
    margin-top: 20px;
  }

  .footer__right {
    margin-top: 31px;
  }

  .footer {
    margin-top: 127px;
  }
}
@media screen and (max-width: 400px) {
  .header__container, .container, .footer__container {
    margin: 0 16px;
  }

  .main__pool-img {
    width: 288px;
    height: 160px;
    background: url("../../img/iphone-se/pool.png") no-repeat;
  }

  .main__von-oben-img {
    width: 288px;
    height: 160px;
    background: url("../../img/iphone-se/von-oben.png") no-repeat;
  }

  .block1 {
    margin: 0;
  }

  .block4 {
    padding: 16px 18px;
    margin: 24px 0 60px;
  }

  .main__nav--none {
    display: none;
  }

  .iphone-se {
    display: block;
  }

  .main__frau-img {
    background: url("../../img/iphone-se/frau.png") no-repeat;
    width: 288px;
    height: 380px;
  }

  .main__haende-img {
    width: 288px;
    height: 160px;
    background: url("../../img/iphone-se/haende.png") no-repeat;
  }

  .main__stuhl-abend-item {
    width: 288px;
  }

  .main__stuhl-img {
    background: url("../../img/iphone-se/stuhl.png");
  }

  .main__abend-img {
    background: url("../../img/iphone-se/abend.png");
  }

  h1 {
    font-size: 24px;
    line-height: 32px;
  }

  h3 {
    font-size: 18px;
    line-height: 26px;
  }

  .footer__right {
    margin-top: 5px;
  }

  .footer {
    margin-top: 60px;
  }

  .footer__btn {
    display: none;
  }
}
